version: '3.8'

services:
  db:
    container_name: fastapi-pets-db
    image: postgres:13-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./backend/.env
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 2s
      timeout: 5s
      retries: 15

  backend:
    container_name: fastapi-pets-backend-test
    build:
      context: ./backend
    env_file:
      - ./backend/.env
    depends_on:
      db:
        condition: service_healthy
    command: pytest -v
    profiles: ["test"]

volumes:
  postgres_data: